* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;    
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    margin: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    margin-left: auto;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 5px;
    margin-right: 5px;
    transition: 0.3s;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    gap: 10px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.titulo {
    background-color: black;
    padding: 20px;
    text-align: center;
    margin-top: 70px;
}

.titulo button {
    padding: 5px;
    margin: 25px;
}

.banner {
    background-color: black;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
    margin-top: 7px;

}

.banner img {
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

#about-img {
    max-width: 500px;
    font-size: 1.1em;
    line-height: 1.5;
    
}


/* Diseño para main */

.main {
    padding: 60px 20px;
    margin: 20px;
}

.main h1 {
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.main h2 {
    padding: 5px;
    margin: 5px;
}

.main p {
    padding: 5px;
    margin: 5px;
}

.HeadSkill {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.skills {
    display: inline-block;
    gap: 20px;
    margin: 0 15px;
    text-align: center;
   
}

.skills img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    justify-content: center;
}
.skills span {
    display: block;
    font-size: 14px;
}


.proyectos p {
    text-align: center;
}

.proyecto-links {
    list-style: none;
    padding: 20px 20px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.proyecto-links a {
    color: white;
    text-decoration: none;
}
.proyecto-links a:hover {
    text-decoration: underline;
    color: #E45A92;
}

.proyectos {
    margin-top: 40px;
    margin-bottom: 40px;
}

.proyecto-links img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
}
/* Diseño para footer */

footer {    
    margin-top: 100px;
    margin-bottom: 0;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    padding: 0 20px;
    margin:  0 auto;
    text-align: center;
}

.footer-links{
    list-style: none;
    padding: 0;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links li a:hover{
     text-decoration: underline;
     color: #E45A92;
}




/* Página About me */

.about-me img {
     max-width: 500px;
    height: fit-content;

}

.about-me {
    margin-top: 50px;
    font-size: 28px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.about-me h1 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.about-me p {
    max-width: 600px;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 600px;
}

.github-button { 
    display: inline-block;
    padding: 10px 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 20px;
}

.github-button:hover {
    background-color: #E45A92;
}

/* Página Proyectos */

.main-proyectos img {
    max-width: 500px;
    height: fit-content;
}


.main-proyectos {
    margin-top: 100px;
    font-size: 28px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.main-proyectos {
    font-size: 30px;
    margin-bottom: 20px;
}

.main-proyectos p {
    max-width: 600px;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 auto;
    max-width:600px;     
    padding-top: 20px;
}

.main-proyectos a {
    font-size: medium;
    margin-top: 80px;
    color: white;
    text-decoration: none;
}

.main-proyectos a:hover {
    text-decoration: underline;
    color: #E45A92;
}


/* Página contact-main */

.contact-main {
    margin-top: 150px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.contact-main p {
    margin: 0 auto;

}
.contact-iconos h2 {
    padding: 10px;
}

.contact-iconos a{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formulario {
    margin: 0 auto;
    text-align: center;
}

.form-group label{
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

.form-group input, .form-htoup textarea {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 10px;
}


.form-group textarea {
    resize: vertical;
    min-height: 100px;    
    width: 20%;
}


button[type="submit"] {
    width: 20%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;    
}
button[type="submit"]:hover {
    background-color: #E45A92 ;
}
